<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button
      (click)="
      downloadAndOpen(
          'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf',
          'Demo_PDF'
        )
      "
      >Click to View Doc</ion-button
    >
  </div>
</ion-content>
